<mat-toolbar>
  <mat-toolbar-row>
    <button type="button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Product Mart</span>

    <a mat-button color="accent" routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button color="accent" routerLink="/product" routerLinkActive="active">Product</a>

    <span class="header-space"></span>

    <a mat-button color="accent" *ngIf="!user.status" routerLink="/auth/login" routerLinkActive="active">Login</a>
    <a mat-button *ngIf="user" [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
    {{user.name}}
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logoutEvent.emit()">Logout</button>
    </mat-menu>

    <span *ngIf="cart.length" matBadge={{cart.length}} matBadgeOverlap="true">
      <button mat-button [matMenuTriggerFor]="cartMenu">
       <mat-icon>shopping_cart</mat-icon>
    </button>
    </span>
    <mat-menu #cartMenu class="cartMenu">
      <mat-list role="list">
        <mat-list-item role="list-item" *ngFor="let c of myCart">
          <span matBadge={{c.count}} matBadgeOverlap="false">
              <table>
                <tr>
                  <td class="name">
                    <img [src]=c.value.imgUrl alt=c.value.name width=50 height=50>

                    </td>

                    <td class="price">
                  <span>Rs. {{c.value.price}}</span>
                    </td>
                  </tr>
                </table>

          </span>

        </mat-list-item>
        <mat-list-item>
          <span>
            <b>Total</b>
          </span>
          <span class="header-space"></span>
          <span>
            <b>Rs. {{total}}</b>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-menu>
  </mat-toolbar-row>


</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer #sidenav class="example-sidenav" mode="over">
    <a mat-button routerLink="/product">Product</a>
  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

