<mat-card>
<form [formGroup]="login" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Eamil</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="submit">{{error | async}}</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
    <mat-error *ngIf="submit">Invalid Email or Password</mat-error>
  </mat-form-field>
  <br>
  <button type="submit" mat-raised-button color="primary">Login</button>
  <a mat-button color="accent" routerLink="/register" routerLinkActive="active">Register</a>
</form>
</mat-card>
{{error | async}}
